<h2>My borrowings</h2>

<table class="table">
  <thead>
    <tr>
      <th>Book</th>
      <th>Inserted at</th>
      <th>Returned at</th>
    </tr>
  </thead>
  <tbody>
    <%= for borrowing <- @borrowings do %>
      <tr>
        <td><%= link(borrowing.book.title, to: book_path(@conn, :show, borrowing.book_id)) %></td>
        <td><%= borrowing.inserted_at %></td>
        <td><%= borrowing.returned_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
